@model NewItemViewComponent

<form method="post" class="py-3" id="frmNewItem">
    <div class="form-row">
        <div class="col-2">
            <select asp-for="ApplicationId" asp-items="Model.AppSelect" class="form-control" required="required">
                <option value="">(app)</option>
            </select>
        </div>
        <div class="col-2">
            <select asp-for="ProjectId" asp-items="Model.ProjectSelect" class="form-control">
                <option value="">(project)</option>
            </select>
        </div>
        <div class="col-6">
            <input type="text" asp-for="Title" required="required" placeholder="item title" class="form-control"/>
        </div>
        <div class="col-2">
            <button class="btn btn-dark" type="submit">Add</button>
            <button class="btn btn-light" id="btnAddItemDetail" type="button">Add Detail</button>
        </div>
    </div>

    <div class="form-row py-3">
        <div class="col-12" style="display:none" id="newItemEditorDiv">
            <textarea name="HtmlBody" class="htmlEditor"></textarea>
        </div>
    </div>
</form>

<div id="workItemResult"></div>
