@page

<h3>Dashboard Pages</h3>
<div class="ml-3">
    <p>The dashboard pages share a common menu across the top of all pages. These make up the bulk of Ginseng's interface.</p>
</div>

<h4>My Items</h4>


<h4>Hung Items</h4>

<h4>Projects</h4>

<h4>Milestones</h4>

<h4>All Items</h4>

<h4>Team</h4>

<h4>Feed</h4>
