@page "/WorkItem/Edit/{id}"
@model Ginseng.Mvc.Pages.WorkItem.EditModel
@{
    ViewData["Title"] = "Edit";
}

<h1>
    <span class="text-muted">@Model.WorkItem.Number</span>
    <span>@Model.WorkItem.Title</span>
</h1>

