@page
@model Ginseng.Mvc.ViewModels.WorkItemListView

<ul>
@foreach (var item in Model.WorkItems)
{
    <li>
        <partial name="/Dashboard/Items/_ItemNumber" model="@item"/>
        <a asp-page="/WorkItem/View" asp-route-id="@item.Number">@item.Title</a>
        <partial name="/Dashboard/Items/_Labels" model="@Model.SelectedLabels[item.Id]"/>
    </li>
}
</ul>