@page "/WorkItem/View/{id}"
@model Ginseng.Mvc.Pages.WorkItem.EditModel
@{
    ViewData["Title"] = "Edit";
}

<div class="row">
    <div class="col-2 text-muted text-right">
        <h2>@Model.Item.Number</h2>
    </div>
    <div class="col-10">
        <h2>@Model.Item.Title</h2>
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <ul class="list-inline">
            <li class="list-inline-item"></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"></li>
            <li class="list-inline-item"></li>
        </ul>        
        <hr/>
    </div>
</div>

<partial name="../Dashboard/Items/_SetterForms"/>

<div class="row">
    <div class="col-2"></div>
    <div class="col-10">                
        @Html.Raw(Model.Item.HtmlBody)
    </div>
</div>

@*activity feed*@

@section Scripts {
    <script src="~/js/Dashboard.js"></script>
}