@page "/WorkItem/View/{id}"
@model Ginseng.Mvc.Pages.WorkItem.ViewModel
@{
    ViewData["Title"] = "Work Item";
    var cardView = new WorkItemCardView() { WorkItem = Model.Item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.SelectedLabels[Model.Item.Id], UserId = Model.UserId, Comments = Model.Comments[Model.Item.Id] };
}

<div class="row">
    <div class="col-2 text-right">
        <h2>
            <partial name="/Pages/Dashboard/Items/_ItemNumber.cshtml" model="Model.Item"/>
        </h2>
    </div>
    <div class="col-10">
        <h2><span class="editable" id="title-@Model.Item.Number">@Model.Item.Title</span></h2>        
    </div>
</div>
<div class="row mb-2">
    <div class="col-2"></div>
    <div class="col-8">
        <partial name="Dashboard/Items/_LabelControls" model="cardView"/>
    </div>
    <div class="col-2">
        @if (!Model.Item.CloseReasonId.HasValue)
        {
            <partial name="/Pages/Dashboard/Items/_Status.cshtml" model="cardView"/>
        }
        else
        {
            <i class="@WorkItem.IconClosed" style="color:green"></i>
            <span>Closed: @Model.Item.CloseReasonName</span>
        }
    </div>
</div>

<div class="row">
    <div class="col-2"></div>
    <div class="col-10">
        <partial name="/Pages/Dashboard/Items/_ItemInner.cshtml" model="cardView"/>
        <hr />
    </div>
</div>

@*activity feed*@

@section Scripts {
    <script src="~/js/Dashboard.js"></script>
    <script>
        $(document).ready(function () {
            $('.editable').editable('/Update/WorkItemTitle', {
                id: 'elementId',
                name: 'newTitle'
            });
        })
    </script>
}