@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills mt-3 mb-3">
    <li class="nav-item">
        <activelink page="/Tickets/Index" text="New Tickets" />
    </li>
    <li class="nav-item">
        <activelink page="/Tickets/Ignored" text="Ignored"/>
    </li>
</ul>

@Html.ActionAlert(TempData)

@{ 
    var model = Model as TicketPageModel;
}
@if (model.ResponsibilityId == 0)
{
    <p><strong>Tip</strong> To ignore tickets, please select a Responsibility below.</p>
}

@if (!model.CurrentOrgUser.CurrentAppId.HasValue)
{
    <p><strong>Tip</strong> Select an application above to create work items in select projects.</p>
}

<form method="get" class="form-inline">
    <div class="input-group mb-3">
        <label class="mr-2">Responsibility:</label>
        <select name="responsibilityId" asp-items="model.ResponsibilitySelect" class="form-control" onchange="this.form.submit()" required="required">
            <option value="">all unassigned tickets</option>
        </select>
    </div>
</form>

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", false)
}