@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills mt-3 mb-3">
    <li class="nav-item">
        <activelink page="/Tickets/Index" text="New Tickets" preserve-query-string="true" />
    </li>
    <li class="nav-item">
        <activelink page="/Tickets/Ignored" text="Ignored" preserve-query-string="true" />
    </li>
    <li class="nav-item">
        <a href="/Dashboard/AllItems?filterFreshdeskTickets=true" class="nav-link">Assigned Items</a>
    </li>
</ul>

@Html.ActionAlert(TempData)

@{
    var model = Model as TicketPageModel;
}

@if (!model.CurrentOrgUser.CurrentTeamId.HasValue)
{
    <p><strong>Tip</strong> Select a team above to ignore tickets or create work items in select projects.</p>
}

@RenderBody()

@section Scripts {
    <script src="~/js/Tickets.js"></script>
    @RenderSection("Scripts", false)
}