@model IPaged

<div class="row justify-content-center">
    @if (Model.PageNumber > 0)
    {        
        <form method="get">
            <input type="hidden" value="@(Model.PageNumber - 1)" name="pageNumber"/>
            @RequestExtensions.ToHiddenFields(ViewContext.HttpContext.Request, "pageNumber")            
            <button type="submit" class="btn btn-sm btn-light">&lt;&lt; Prev</button>
        </form>        
    }
    
    <form method="get">
        <input type="hidden" value="@(Model.PageNumber + 1)" name="pageNumber"/>
        @RequestExtensions.ToHiddenFields(ViewContext.HttpContext.Request, "pageNumber")
        <button type="submit" class="btn btn-sm btn-light">Next &gt;&gt;</button>
    </form>    
</div>
