@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills nav-fill mt-3 mb-3">
    <li class="nav-item">
        <activelink page="/Dashboard/Index" text="My Items" />
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/New" text="New Items"/>
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/Hung" text="Hung Items"/>
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/Projects" text="Projects" />
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/Milestones" text="Milestones" />
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/AllItems" text="All Items" />
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/Team" text="Team" />
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/Feed" text="Feed" />
    </li>
</ul>

@Html.ActionAlert(TempData)

@{ 
    var model = Html.ViewContext.ViewData.Model as DashboardPageModel;
    if (model != null && model.LabelFilter != null && model.ShowLabelFilter)
    {
        <partial name="Items/_LabelFilter" model="model.LabelFilter"/>
        @if (model.LabelId.HasValue)
        {
            <div class="text-center">
                <a asp-route-labelId="" class="btn btn-sm btn-light mb-2">show all</a>
            </div>            
        }
    }
}

@if (Model is DashboardPageModel)
{
    <partial name="Items/_PastDue" model="Model"/>
}

@RenderBody()

@if ((Model as DashboardPageModel)?.ShowExcelDownload ?? false)
{
    <a class="btn btn-light" asp-page-handler="ExcelDownload">Download to Excel</a>
}

@section Scripts {
    @RenderSection("Scripts", false)
    <script src="~/js/MultiSelect.js"></script>
    <script src="~/js/Dashboard.js"></script>
    <script src="~/js/Sortable.js"></script>
}