@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<ul class="nav nav-pills nav-fill" style="margin-top:15px;margin-bottom:15px">
    <li class="nav-item">
        <activelink page="/Dashboard/MyItems" text="My Items" />
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/Projects" text="Projects" />
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/Milestones" text="Milestones" />
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/AllItems" text="All Items" />
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/Team" text="Team"/>
    </li>
    <li class="nav-item">
        <activelink page="/Dashboard/Feed" text="Feed" />
    </li>
</ul>

@await Component.InvokeAsync("NewItem")

@RenderBody()

@section Scripts {
    @RenderSection("Scripts", false)
    <script>
        var frm = document.getElementById("frmNewItem");
        frm.onsubmit = () => {
            let formData = new FormData(frm);
            fetch('/WorkItem/Create', {
                method: 'post',
                body: new URLSearchParams(formData)
            }).then(function (response) {
                response.text().then(function (text) {
                    var output = document.getElementById("workItemResult");
                    output.innerHTML = text;
                });
            });                
            return false;
        };
    </script>
}