@page
@model Ginseng.Mvc.Pages.Work.AllItemsModel
@{
    ViewData["Title"] = "All Items";
}

<h4>All Items</h4>

<table class="table">
    <tr>
        <th>App / Project</th>
        <th>Title</th>
        <th>Estimate</th>
        <th>Activity</th>        
        <th>Milestone</th>
    </tr>
    @foreach (var item in Model.WorkItems)
    {
        <tr>
            <td>
                @item.ApplicationName
                @if (item.ProjectId.HasValue)
                {
                    <span> / @item.ProjectName</span>
                }
            </td>
            <td><partial name="Items/_Title" model="item"/></td>
            <td><partial name="Items/_Estimate" model="new DashboardEstimateField() { Item = item, Sizes = Model.Sizes }"/></td>
            <td><partial name="Items/_Activity" model="new DashboardActivityField(Model) { Item = item, Activities = Model.MyActivities, CloseReasons = Model.CloseReasons }"/></td>
            <td><partial name="Items/_Milestone" model="new DashboardMilestoneField() { Item = item, Milestones = Model.Milestones }"/></td>
        </tr>
    }
</table>
