@page
@model Ginseng.Mvc.Pages.Work.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h4>
    <i class="fas fa-tag"></i>
    <span>Alert labels</span>
</h4>
<p>Items with labels that I follow</p>

<h4>
    <i class="fas fa-pause-circle"></i>
    <span>Awaiting Hand-off</span>
</h4>
<p>Paused items waiting for someone to resume</p>

<h4>
    <i class="fas fa-stop-circle"></i>
    <span>Items Not Started</span>
</h4>
<p>Items in a milestone that haven't been started</p>

<h4>
    <i class="fas fa-weight-hanging"></i>
    <span>Current Load</span>
</h4>
<p>Top priorities and approximate finish date by assigned person</p>

<h4>
    <i class="fas fa-clipboard-check"></i>
    <span>Recently Done</span>
</h4>
<p>Last 10 completed items</p>