@page
@model Ginseng.Mvc.Pages.Work.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h4>Awaiting Hand-off</h4>
<p>Items waiting for someone to start</p>

<h4>Items Not Started</h4>
<p>Items in a milestone that haven't been started</p>

<h4>Current Load</h4>
<p>Top priorities and approximate finish date by assigned person</p>

<h4>Recently Done</h4>
<p>Last 10 completed items</p>