@page
@model Ginseng.Mvc.Pages.Work.IndexModel
@{
    ViewData["Title"] = "Index";
}

<h4>Unassigned Items</h4>
<p>No one is working on these items.</p>

<h4>Current Load</h4>
<p>Top priorities and approximate finish date by developer</p>

