@page
@model Ginseng.Mvc.Pages.Dashboard.MyItemsModel
@{
    ViewData["Title"] = "My Items";
}

@Html.ActionAlert(TempData)

<div id="accordion">
@foreach (var appGrp in Model.WorkItems.GroupBy(row => row.ApplicationId))
{
    <h4>@appGrp.First().ApplicationName</h4>

    @foreach (var milestoneGrp in appGrp.OrderBy(row => row.MilestoneDate).GroupBy(row => row.MilestoneId))
    {
        var milestoneItem = milestoneGrp.First();

        <partial name="Items/_MilestoneHeader" model="milestoneItem" />

        <div class="ml-3">
            <partial name="Items/_Load" model="Model.GetLoadView(milestoneGrp, (wd) => wd.UserId == Model.UserId)"/>
        </div>

        <div id="app-@appGrp.Key-@milestoneGrp.Key" class="milestone-items" data-milestone-id="@milestoneGrp.Key">
            
            <div class="ml-3 sortable" data-user-id="@Model.UserId">
                @foreach (var item in milestoneGrp)
                {
                    <partial name="Items/_Card" model="new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.SelectedLabels[item.Id], UserId = Model.UserId, Comments = Model.Comments[item.Id] }" />
                }
                @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
                {
                    { "applicationId", appGrp.Key },
                    { "milestoneId", milestoneGrp.Key },
                    { Model.UserIdColumnName, Model.UserId },
                    { "activityId", Model.CurrentOrgUser.DefaultActivityId ?? 0 }
                }))
            </div>                        
        </div>
    }
}
</div>