@page
@model Ginseng.Mvc.Pages.Dashboard.MilestonesModel
@{
    ViewData["Title"] = "Milestones";
}

<div id="accordion">
@foreach (var appGrp in Model.WorkItems.GroupBy(row => row.ApplicationId))
{
    <h4>@appGrp.First().ApplicationName</h4>

    <ul class="nav nav-tabs" role="tablist">
        @foreach (var milestoneGrp in appGrp.OrderBy(row => row.MilestoneDate).GroupBy(row => row.MilestoneId))
        {
            var milestoneItem = milestoneGrp.First();
            <li class="nav-item">
                <a href="#app-@appGrp.Key-ms@(milestoneGrp.Key)" data-toggle="tab" class="nav-link">
                    <partial name="Items/_MilestoneHeader" model="milestoneItem"/>
                </a>
            </li>
        }
    </ul>
    <div class="tab-content my-3" id="tabContent">
    @foreach (var milestoneGrp in appGrp.OrderBy(row => row.MilestoneDate).GroupBy(row => row.MilestoneId))
    {    
        <div id="app-@appGrp.Key-ms@(milestoneGrp.Key)" class="tab-pane fade" data-milestone-id="@milestoneGrp.Key" role="tabpanel">
            <div class="ml-3">
            @foreach (var item in milestoneGrp)
            {
                <partial name="Items/_Card" model="new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.SelectedLabels[item.Id], UserId = Model.UserId, Comments = Model.Comments[item.Id] }" />
            }
            @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
                {
                    { "applicationId", appGrp.Key },
                    { "milestoneId", milestoneGrp.Key }
                }))
            </div>
        </div>
    }
    </div>    
}
</div>

@if (Model.CurrentOrgUser.CurrentAppId.HasValue)
{
    <div id="emptyMilestones">
        @foreach (var ms in Model.EmptyMilestones)
        {            
            <partial name="Items/_MilestoneHeader" model="ms"/>
            <div class="ml-3">
                @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
                {
                    { "applicationId", Model.CurrentOrgUser.CurrentAppId.Value },
                    { "milestoneId", ms.Id }
                }))
            </div>
        }
    </div>
}

<div class="col-6 offset-3 mt-4">
    <form method="post" asp-page-handler="Create" class="form-inline">
        <input type="text" name="Name" class="form-control-sm mr-2" placeholder="milestone name" required="required"/>
        <input type="text" name="Date" class="form-control-sm mr-2 datepicker" placeholder="date" required="required" autocomplete="off"/>
        <button type="submit" class="btn btn-dark btn-sm">Add Milestone</button>
    </form>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $(".datepicker").datepicker();
        });
    </script>
}