@page
@model Ginseng.Mvc.Pages.Dashboard.MilestonesModel
@{
    ViewData["Title"] = "Milestones";
}

<div id="accordion">
@foreach (var appGrp in Model.WorkItems.GroupBy(row => row.ApplicationId))
{
    <h4>@appGrp.First().ApplicationName</h4>

    @foreach (var milestoneGrp in appGrp.OrderBy(row => row.MilestoneDate).GroupBy(row => row.MilestoneId))
    {
        var milestoneItem = milestoneGrp.First();

        <partial name="Items/_MilestoneHeader" model="milestoneItem" />

        <div id="app-@appGrp.Key-@milestoneGrp.Key" class="milestone-items" data-milestone-id="@milestoneGrp.Key">
            <div style="margin-left:20px">
            @foreach (var item in milestoneGrp)
            {
                <partial name="Items/_Card" model="new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.SelectedLabels[item.Id] }" />
            }
                @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
                    {
                        { "applicationId", appGrp.Key },
                        { "milestoneId", milestoneGrp.Key }
                    }))
            </div>
        </div>
    }
}
</div>