@page
@model Ginseng.Mvc.Pages.Work.MyWorkModel
@{
    ViewData["Title"] = "My Items";
}

@foreach (var actGrp in Model.WorkItems.GroupBy(row => row.ActivityId))
{
    <h3>@actGrp.First().ActivityName</h3>
    @foreach (var appGrp in actGrp.GroupBy(row => row.ApplicationId))
    {
        <h4>@appGrp.First().ApplicationName</h4>
        <table class="table mx-3">
            @foreach (var projectGrp in appGrp.GroupBy(row => row.ProjectId))
            {
                if (projectGrp.Key != 0)
                {
                    <tr>
                        <td colspan="3">
                            <span>@projectGrp.First().ProjectName</span>
                        </td>
                    </tr>
                }
                @foreach (var milestoneGrp in projectGrp.OrderBy(row => row.MilestoneDate).GroupBy(row => row.MilestoneId))
                {
                    if (milestoneGrp.Key != 0)
                    {
                        <tr>
                            <td colspan="3">
                                <span>@milestoneGrp.First().MilestoneName</span>
                            </td>
                        </tr>
                    }
                    @foreach (var item in milestoneGrp)
                    {
                        <tr>
                            <td><partial name="Items/_Number" model="item"/></td>
                            <td><partial name="Items/_Title" model="item"/></td>                                                                
                            <td><partial name="Items/_Estimate" model="new DashboardEstimateField() { Item = item, Sizes = Model.Dropdowns.Sizes }"/></td>
                        </tr>
                    }
                }
            }
        </table>
    }
}


