@page "/Dashboard/Projects/{id?}"
@model Ginseng.Mvc.Pages.Work.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

@if (!Model.Id.HasValue)
{
    <partial name="Items/_ProjectList" model="Model"/>
    return;
}

@if (!Model.WorkItems.Any())
{
    @if (Model.SelectedProject != null)
    {
        <h5>@Model.SelectedProject.Name</h5>
        <div class="ml-3">
            @await Html.PartialAsync("Shared/_HtmlEditor", new HtmlEditorView() { Id = Model.Id.Value, IdPrefix = "project", PostUrl = "/Update/ProjectBody", Content = Model.SelectedProject.HtmlBody })
        </div>
    }
    
    <p>This project has no work items yet.</p>

    @if (Model.CurrentAppId.HasValue)
    {
        @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
        {
            { "applicationId", Model.CurrentAppId.Value },
            { "projectId", Model.Id.Value }
        }))
    }
}
else
{
    <partial name="Items/_ProjectWorkItems" model="Model" />
}

@if (Model.Id.HasValue)
{
    <p class="text-center">
        <a asp-route-id="" class="btn btn-light btn-sm">Show All Projects</a>
    </p>
}

@section Scripts {
    <script src="~/js/Projects.js"></script>
}