@page "/Dashboard/Projects/{id?}"
@model Ginseng.Mvc.Pages.Dashboard.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

@if (!Model.Id.HasValue)
{
    if (Model.View == ProjectViewOptions.Crosstab)
    {
        <partial name="Items/_ProjectCrosstab" model="Model"/>
    }

    if (Model.View == ProjectViewOptions.Cards)
    {
        <partial name="Items/_ProjectCards" model="Model"/>
    }

    return;
}

@if (!Model.WorkItems.Any())
{
    @if (Model.SelectedProject != null)
    {
        <h5>@Model.SelectedProject.Name</h5>        
        <partial name="Items/_ProjectInfo" model="Model.SelectedProjectInfo"/>

        <div class="ml-3">
            <partial name="Items/_ProjectControls" model="Model"/>
            @await Html.PartialAsync("Shared/_HtmlEditor", new HtmlEditorView() { Id = Model.Id.Value, IdPrefix = "project", PostUrl = "/Update/ProjectBody", Content = Model.SelectedProject.HtmlBody, UploadFolderName = "Projects" })
        </div>
    }
    
    <p>This project has no work items yet.</p>

    @if (Model.CurrentAppId.HasValue)
    {
        @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
        {
            { "applicationId", Model.CurrentAppId.Value },
            { "projectId", Model.Id.Value }
        }))
    }
}
else
{
    <partial name="Items/_ProjectWorkItems" model="Model" />
}

@if (Model.Id.HasValue)
{
    <p class="text-center">
        <span class="small">All Projects:</span>
        <a asp-route-id="" asp-route-view="0" class="btn btn-light btn-sm">Cards</a>
        <a asp-route-id="" asp-route-view="1" class="btn btn-light btn-sm">Crosstab</a>
    </p>
}

@section Scripts {
    <script src="~/js/Projects.js"></script>
    <script>
        $(document).ready(function () {
            $('.editable').editable('/Update/ProjectName', {
                id: 'elementId',
                name: 'newName'
            });
        })
    </script>
}