@{ 
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h1>Setup</h1>

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li>
                @Html.ActiveLink("/Setup/Organization", "Organization");
                <a class="nav-link" href="/Setup/Organization">Organization</a>                
            </li>
            <li>
                <a class="nav-link" href="/Setup/Users">Users</a>
            </li>
            <li>
                <a class="nav-link" href="/Setup/Applications">Applications</a>
            </li>
            <li>
                <a class="nav-link" href="/Setup/Activities">Activities</a>
            </li>
            <li>
                <a class="nav-link" href="/Setup/Labels">Labels</a>
            </li>
        </ul>
    </div>

    <div class="col-md-9">
        @RenderBody()        
    </div>
</div>

<div>
    <p>current page = @Html.CurrentPage()</p>
</div>