@{ 
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>Setup</h2>

<div class="row">
    <div class="col-md-3">
        <ul class="nav nav-pills flex-column">
            <li>                
                <activelink page="/Setup/Organization" text="Organization"/>                      
            </li>
            <li>
                <activelink page="/Setup/Users" text="Users"/>                           
            </li>
            <li>
                <activelink page="/Setup/Applications" text="Applications"/>                           
            </li>
            <li>
                <activelink page="/Setup/Activities" text="Activities"/>                           
            </li>
            <li>
                <activelink page="/Setup/Labels" text="Labels"/>                           
            </li>
        </ul>
    </div>

    <div class="col-md-9">
        @RenderBody()        
    </div>
</div>
