@{
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<h2>Setup</h2>

<div class="row">
    <div class="col-md-2">
        <ul class="nav nav-pills flex-column">
            <li>
                <activelink page="/Setup/Organization" text="Organization" />
            </li>
            <li>
                <activelink page="/Setup/OrgUser" text="Org Settings" />
            </li>
            <li>
                <activelink page="/Setup/Users" text="Users" />
            </li>
            <li>
                <activelink page="/Setup/Applications" text="Applications" />
            </li>
            <li>
                <activelink page="/Setup/Activities" text="Activities" />
            </li>
            <li>
                <activelink page="/Setup/AppActivities" text="My App Activities"/>
            </li>
            <li>
                <activelink page="/Setup/Labels" text="Labels" />
            </li>
            <li>
                <activelink page="/Setup/LabelInstructions" text="Label Instructions" />
            </li>
            <li>
                <activelink page="/Setup/Projects" text="Projects" />
            </li>
            <li>
                <activelink page="/Setup/PriorityTiers" text="Priority Tiers" />
            </li>
            <li>
                <activelink page="/Setup/Milestones" text="Milestones" />
            </li>
            <li>
                <activelink page="/Setup/Sizes" text="Work Item Sizes" />
            </li>
            <li>
                <activelink page="/Setup/DataModels" text="Data Models"/>
            </li>
            <li>
                <activelink page="/Setup/AwayHours" text="Away Hours"/>
            </li>
            <li>
                <activelink page="/Setup/GitHub" text="GitHub Integration"/>                
            </li>
            <li>
                <a href="#" class="nav-link disabled">Inbound Email</a>
            </li>
        </ul>
    </div>

    <div class="col-md-10">
        @RenderBody()
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", false)
}