@page
@model Ginseng.Mvc.Pages.Setup.ApplicationsModel
@{
    ViewData["Title"] = "Applications";
}

<h4>Applications</h4>
<p>Use Applications to define the different products your organization develops and supports.</p>
