@page
@model Ginseng.Mvc.Pages.Setup.DevMilestonesModel
@{
    ViewData["Title"] = "Developer Milestones";
}

<h1>Developer Milestones</h1>
<p>Use this to associate developers with milestones. This makes it possible to calculate their available hours. If you then enter
    sizes of work items in a milestone, you can tell better if the work is feasible or if developers are over-committed.</p>

