@page
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@model Ginseng.Mvc.Pages.Setup.MilestonesModel
@{
    ViewData["Title"] = "Milestones";
}

<h4>Milestones</h4>
<p>Use Milestones to define deadlines or any kind of due date or event, such as sprint dates, or perhaps a customer-imposed deadline.</p>

