@page
@model Ginseng.Mvc.Pages.Setup.OrgUserModel
@{
    ViewData["Title"] = "OrgUser";
}

<form method="post">
    <label>Organization:</label>
    <select name="orgId" asp-items="Model.MyOrgSelect" class="form-control"></select>
</form>

<form method="post">

</form>

