@page
@model Ginseng.Mvc.Pages.Setup.OrgUserModel
@{
    ViewData["Title"] = "OrgUser";
}

<h4>Org Settings</h4>
<p>Use this to customize aspects of your relationship with this organization.</p>

<form method="post" asp-page-handler="SelectOrg">
    <label>Current Organization:</label>
    <select name="orgId" asp-items="Model.MyOrgSelect" class="form-control" onchange="this.form.submit();">
        <option value="" disabled="disabled">(select)</option>
    </select>
</form>

@Html.ActionAlert(Model.ActionMessage)

<form method="post">
    <div class="form-group">
        <label>Display Name:</label>
        <input type="text" asp-for="OrgUser.DisplayName" class="form-control" required="required" maxlength="50"/>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label>Max Work in Progress:</label>
                <input type="number" asp-for="OrgUser.MaxWorkInProgress" class="form-control"/>
            </div>
        </div>

        <div class="col-6">
            <div class="form-group">
                <label>Daily Work Hours:</label>
                <input type="number" asp-for="OrgUser.DailyWorkHours" class="form-control"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <label>Work Days:</label>
            <input type="hidden" asp-for="OrgUser.WorkDays"/>
            <ul class="list-inline">
                @foreach  (var wk in Model.WorkDays)
                {
                    <li class="list-inline-item">
                    <label>
                        @wk.Abbreviation
                        <input type="checkbox" name="SelectedWorkDays" value="@wk.Flag" checked="@((wk.Flag & Model.OrgUser.WorkDays) == wk.Flag)"/>
                    </label>            
                </li>
                }
            </ul>
        </div>
    </div>

    <button class="btn btn-dark">Save</button>
</form>

