@page
@model Ginseng.Mvc.Pages.Setup.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}

<h4>Projects</h4>
<p>Use Projects to group related ongoing work related to a feature area, goal, or some other unifying idea.
    Projects do not have due dates or time frames. If you need to use deadlines, use <a asp-route-page="/Setup/Milestones">Milestones</a>.</p>

