@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ginseng</h1>

    <h2>What is Ginseng?</h2>
    <p>It's a task and project management system for small business and software teams.</p>

    <h2>Why Ginseng?</h2>
    <p>Today's software management apps are either too generic or too complicated.</p>
    <p>They skew either towards a business audience, treating developer features as an add-on integration, or they're absorbed in programming details and alienate business users.</p>
    <p>Ginseng seeks a sweet spot of depth and simplicity to appeal to both business and developer audiences.</p>

    <h2>Ginseng Values</h2>

    <h3>Visibility over Planning</h3>
    <p>Although software development is talked about as an "engineering" discipline, reliable estimates and target dates exist only in perfect world lab conditions, if then.
    In practice, companies struggle with technical debt, multi-tasking and context switching, and rapidly changing business pressures and priorities.
    Likewise, developers become captivated and distracted by all kinds of "shiny objects" or suffer cognitive and creative blockage for various reasons all the time.</p>

    <p>Ginseng accepts this reality and therefore holds that it's good enough merely to know what the business priorities are and what everyone is <i>supposed</i>
    to be working on. Priorities change and tasks take longer than expected, but the main thing is to keep priorities and progress (or the lack of it) in a centralized, clear view.
    Ginseng does not believe in burndown, velocity, or Gantt charts since these all rely on estimates.</p>

    <h3>Autonomy over Bureaucracy</h3>
    <p>Software teams need good process and source control, not to mention good product roadmap and vision. That said, Ginseng is oriented
    around encouraging individual initiative and creativity. Ginseng makes it easy for anyone to add work items -- either with a single sentence or phrase,
    or with lots of detail and images. Ginseng is a space for business people, designers, and developers to think out loud and to feel encouraged to participate.</p>

    <h3>Basics over Ceremony</h3>
    <p>The <a href="https://agilemanifesto.org/">Agile Manifesto</a> is a beautiful statement of values, but Agile with a capital "A" has
    become captured by unnecessary ceremony and jargon. Ginseng is agnostic about, say, Scrum vs Kanban. Ginseng is focused on being a rich task list
    of priorities aimed at both business and technical users.</p>
</div>