@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ginseng</h1>
    <p>Ginseng helps software teams track work, striving for a sweet spot of structure and simplicity.</p>

    <p>Numerous other systems in this crowded space are either too generic -- ignoring software-specific needs, or they're way too complicated.</p>

    <h2>What are software-specific needs?</h2>

    <ul>
        <li>Tasks need numbers that don't change.</li>
        <li>Tasks change responsibility</li>
    </ul>

    <h2>Scrum or Kanban?</h2>
    <p>Ginseng is agnostic on questions of methodology.</p>
    <p>All that matters in is tracking priorities, knowing who's working on what, what may be stuck, and what's done.</p>
</div>