@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ginseng</h1>

    <h2>What is Ginseng?</h2>
    <p>It's a task and project management system for small business and software teams.</p>

    <h2>Why Ginseng?</h2>
    <p>Today's software management apps are either too generic or too complicated.</p>
    <p>They skew either towards a business audience, treating developer features as an add-on integration, or they're absorbed in programming details and alienate business users.</p>
    <p>Ginseng seeks a sweet spot of depth and simplicity to appeal to both business and developer audiences.</p>

    <h2>Ginseng Values</h2>

    <h3>Visibility over Planning</h3>
    <p>Although software development is talked about as an "engineering" discipline, reliable estimates and target dates exist only in perfect world lab conditions.
    In practice, companies struggle with technical debt, multi-tasking and context switching, and rapidly changing business pressures and priorities.
    Likewise, developers become captivated and distracted by all kinds of "shiny objects" or suffer cognitive and creative blockage for various reasons all the time.</p>

    <p>Ginseng accepts this reality and therefore emphasizes</p>

    <h3>Autonomy over Bureaucracy</h3>

    <h3>Basics over Ceremony</h3>
    
    <h2>Roadmap and Features</h2>

</div>