@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ginseng</h1>
    <p>Ginseng helps software teams track work, striving for a sweet spot of structure and simplicity.</p>

    <p>Numerous other systems in this crowded space are either too generic -- ignoring software-specific needs,
    <br/>or they're way too complicated and captured by Agile ceremony and cant.</p>

    <h1 class="display-4">Scrum or Kanban?</h1>
    <p>Ginseng is agnostic on questions of methodology.</p>
    <p>All that matters in is tracking priorities, knowing who's working on what, what may be stuck, and what's done.</p>    

</div>
