@page
@model Ginseng.Mvc.Pages.NotificationsModel

<h1>Notifications</h1>

<table class="table">
    <tr>
        <th>Date/Time</th>
        <th>Event</th>
        <th>Content</th>
        <th></th>
    </tr>
    @foreach (var item in Model.MyNotifications)
    {
        var localTime = item.GetLocalDateCreated(Model.TimeZoneOffset, Model.AdjustDST);
        <tr>
            <td>
                <span>@localTime</span>
                <span class="text-muted small">@Html.ElapsedTime(localTime, Model.LocalTime) ago</span>
            </td>
            <td>@item.EventName</td>
            <td>@Html.Raw(item.Content)</td>
            <td></td>
        </tr>
    }
</table>