@model Node<Article>

<ul>
    <li>@Model.Name</li>
    
    @if (Model.Items?.Any() ?? false)
    {
        <li>
            <ul>
                @foreach (var item in Model.Items)
                {
                    <li><a asp-page="Index" asp-route-id="@item.Id">@item.Title</a></li>
                }
            </ul>
        </li>        
    }    
    
    @if (Model.Children?.Any() ?? false)
    {
        <li>
            @foreach (var child in Model.Children)
            {
                <partial name="_TocNode" model="child"/>
            }    
        </li>
    }    
</ul>