@model Ginseng.Mvc.Pages.EmailContent.JoinRequestModel
@{
    Layout = "Pages.EmailContent._Layout.cshtml";
}

<h1>Org Join Request</h1>

<p><strong>@Model.OrgUser.UserProfile.UserName</strong> is requesting to join organization <strong>@Model.OrgUser.Organization.Name</strong></p>

<p><a href="/Setup/Users">Setup Users</a></p>