@model IEnumerable<AppInfoResult>

<div class="row ml-3">
    @foreach (var app in Model)
    {
        <div class="col-3 p-2" data-app-id="@app.Id">
            <partial name="Items/_AppLinkButton" model="app" />
        </div>
    }
</div>