@{ 
    string returnUrl = UriHelper.GetDisplayUrl(Html.ViewContext.HttpContext.Request);
}
<div class="col-6 offset-3 mt-4">
    <form method="post" asp-page="/Dashboard/Milestones" asp-page-handler="Create" class="form-inline">
        <input type="hidden" name="returnUrl" value="@returnUrl"/>
        <input type="text" name="Name" class="form-control form-control-sm mr-2" placeholder="milestone name" required="required"/>
        <input type="text" name="Date" class="form-control form-control-sm mr-2 datepicker" placeholder="date" required="required" autocomplete="off"/>
        <button type="submit" class="btn btn-dark btn-sm">Add Milestone</button>
    </form>
</div>
