@model FilteredItemView

@foreach (var milestoneGrp in Model.WorkItems.OrderBy(row => row.SortMilestoneDate).GroupBy(row => row.MilestoneId))
{
    var milestoneItem = milestoneGrp.First();
    <partial name="Items/_MilestoneHeader" model="milestoneItem" />

    @foreach (var activityGrp in milestoneGrp.GroupBy(row => row.ActivityId))
    {
        <h6 style="margin-left:20px">@activityGrp.First().ActivityName</h6>
        <div id="milestone-@milestoneGrp.Key-activity-@activityGrp.Key" class="milestone-items" data-milestone-id="@milestoneGrp.Key">
            <div class="ml-3">
                @foreach (var item in activityGrp)
                {
                    <partial name="Items/_Card" model="new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Page.Dropdowns, SelectedLabels = Model.Page.SelectedLabels[item.Id], UserId = Model.Page.UserId, Comments = Model.Comments[item.Id], AssignToUsers = Model.AssignToUsers }" />
                }
            </div>
        </div>
    }
}