@model FilteredItemView

@foreach (var milestoneGrp in Model.WorkItems.OrderBy(row => row.MilestoneDate).GroupBy(row => row.MilestoneId))
{
    var milestoneItem = milestoneGrp.First();
    <partial name="Items/_MilestoneHeader" model="milestoneItem" />
    <div id="milestone-@milestoneGrp.Key" class="milestone-items" data-milestone-id="@milestoneGrp.Key">
        <div style="margin-left:20px">
            @foreach (var item in milestoneGrp)
            {
                <partial name="Items/_Card" model="new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Page.Dropdowns, SelectedLabels = Model.Page.SelectedLabels[item.Id], UserId = Model.Page.UserId }" />
            }
        </div>
    </div>
} 
