@model OpenWorkItemsResult

<div style="display:inline-block">
    <button class="btn btn-light dropdown-toggle btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="fal fa-calendar" title="Day I want to work on this"></i>
    </button>
    <div class="dropdown-menu">
        <ul>
            <li>today</li>
            <li>tomorrow</li>            
        </ul>
        <!--calendar here-->
    </div>
</div>