@model Ginseng.Mvc.Pages.Dashboard.ProjectsModel

<form method="get" class="form-inline mb-3 justify-content-center">
    <div class="form-row">        
        <label class="mr-4">View:</label>
        @Html.DropDownList("View", new SelectList(Html.GetEnumSelectList(typeof(ProjectViewOptions)), "Value", "Text", Model.Sort), new { @class = "form-control mr-4", onchange = "this.form.submit();" })        

        <label class="mr-4">Filter:</label>
        @Html.DropDownList("Show", new SelectList(Html.GetEnumSelectList(typeof(ProjectInfoShowOptions)), "Value", "Text", Model.Show), new { @class = "form-control mr-4", onchange = "this.form.submit();" })
    </div>
</form>
