@model Ginseng.Mvc.Pages.Work.ProjectsModel

<div id="accordion">
    @foreach (var appGrp in Model.WorkItems.GroupBy(row => row.ApplicationId))
    {
        <h4>@appGrp.First().ApplicationName</h4>
        foreach (var projectGrp in appGrp.OrderBy(row => row.ProjectName).GroupBy(row => row.ProjectId))
        {
            var projectItem = projectGrp.First();
            <h5>@projectItem.ProjectName</h5>

            @if (projectGrp.Key != 0)
            {
                <div class="ml-3">
                    @await Html.PartialAsync("Shared/_HtmlEditor", new HtmlEditorView() { Id = projectGrp.Key, IdPrefix = "project", PostUrl = "/Update/ProjectBody", Content = Model.SelectedProject.HtmlBody })
                </div>                
            }

            @foreach (var milestoneGrp in projectGrp.GroupBy(row => row.MilestoneId))
            {
                var milestoneItem = milestoneGrp.First();
                <partial name="Items/_MilestoneHeader" model="milestoneItem" />
                <div id="app-@appGrp.Key-project-@projectGrp.Key-milestone-@milestoneGrp.Key" class="milestone-items" data-milestone-id="@milestoneGrp.Key">
                    <div class="ml-3">
                        @foreach (var item in milestoneGrp)
                        {
                            <partial name="Items/_Card" model="new WorkItemCardView() { WorkItem = item, Dropdowns = Model.Dropdowns, SelectedLabels = Model.SelectedLabels[item.Id], UserId = Model.UserId, Comments = Model.Comments[item.Id] }" />
                        }
                        @await Html.PartialAsync("Items/_InsertItem", new InsertItemView(new Dictionary<string, int>()
                        {
                            { "applicationId", appGrp.Key },
                            { "projectId", projectGrp.Key },
                            { "milestoneId", milestoneGrp.Key }
                        }))
                    </div>
                </div>
            }
        }
    }
</div>
