@model int

<form method="post" asp-page-handler="Create">
    <input type="hidden" name="ApplicationId" value="@Model"/>            
    <div class="row mb-3">
        <div class="col-6">
            <input type="text" name="Name" placeholder="create new project" class="form-control" required="required"/>                    
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-dark">Add</button>
        </div>            
    </div>
</form>