@model IWorkItemTitle

@if (Model.ProjectId != 0)
{
    <span class="font-weight-bold text-secondary">
        @Model.ProjectName
    </span>
}

@{
    string editable = (Model.IsEditable(User.Identity.Name)) ? "editable" : string.Empty;
}

<span class="@editable" data-url="/Update/WorkItemTitle" id="title-@Model.Number">@Model.Title</span>