@model IWorkItemTitle

@if (Model.ApplicationId != 0 && (Model.TitleViewField & Services.WorkItemTitleViewField.Application) == Services.WorkItemTitleViewField.Application)
{
    <span class="badge appButton">
        @Model.ApplicationName
    </span>
}

@if (Model.ProjectId != 0 && (Model.TitleViewField & Services.WorkItemTitleViewField.Project) == Services.WorkItemTitleViewField.Project)
{
    <span class="badge badge-info">
        @Model.DisplayProjectName
    </span>
}

@{
    string editable = (Model.IsEditable(User.Identity.Name)) ? "editable" : string.Empty;
}

<span class="@editable js-title" data-url="/Update/WorkItemTitle" id="title-@Model.Number">@Model.Title</span>
