@model IWorkItemTitle

@if (Model.ProjectId != 0)
{
    <span class="font-weight-bold">
        @Model.ProjectName
        @if (Model.ProjectPriority.HasValue)
        {
            <sup title="Overall project priority" class="font-weight-light">@Model.ProjectPriority</sup>
        }
    </span>
}

@{ 
    string editable = (Model.CreatedBy.Equals(User.Identity.Name)) ? "editable" : string.Empty;
}

<span class="@editable" data-url="/Update/WorkItemTitle" id="title-@Model.Number">@Model.Title</span>